@{
    ViewBag.Title = "KTUN | İşletmede Mesleki Eğitim Öğrenci Sayfası";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTUN | İşletmede Mesleki Eğitim Personel</title>
    <link rel="shortcut icon" href="~/img/logo_2.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="keywords" content="moodle, Konya Teknik Üniversitesi İşletmede Mesleki Eğitim: Siteye giriş yap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://lms.ktun.edu.tr/theme/styles.php/remui/1703591224_1/all">
    <link rel="stylesheet" href="~/styles/custom/css/KTUN-StudentPage.css">
</head>

<body>
    <nav class="navbar-top mt-3"></nav>
    <nav class="d-flex justify-content-start align-items-center mt-1"
        style="height: 75px; background: #b52525; z-index: 9999;">
        <div class="row">
            <div class="col-md-12 m-5 ktun-logo">
                <img class="rounded-circle" src="~/img/ktunlogo.png" alt="Logo" width="130px" height="130px"
                    z-index="9999">
            </div>
        </div>
        <div class="navbar-options w-100 d-flex h-120">
            <div class="primary-navigation wdm-custom-menus">
                <nav class="moremenu navigation observed d-flex">
                    <ul id="moremenu-67f662ab3bcfe-navbar-nav" role="menubar" class="nav more-nav navbar-nav d-flex ">
                        <li data-key="home" class="nav-item" role="none" data-forceintomoremenu="false">
                            <a role="menuitem" class="nav-link active" href="" aria-current="true">
                                Ana Sayfa
                            </a>
                        </li>
                        <li data-key="myhome" class="nav-item" role="none" data-forceintomoremenu="false">
                            <a role="menuitem" class="nav-link  " href="" tabindex="-1">
                                Kontrol Paneli
                            </a>
                        </li>
                        <li data-key="myhome" class="nav-item" role="none" data-forceintomoremenu="false">
                            <a role="menuitem" class="nav-link" href="/Supervisor/SupervisorStudentList" tabindex="-1">
                                Notlandır
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav class="d-flex justify-content-end align-items-center w-100 mr-3">
                <div class="dropdown show">
                    <a href="#" role="button" id="user-menu-toggle" data-toggle="dropdown" aria-label="Kullanıcı menüsü"
                        aria-haspopup="true" aria-controls="user-action-menu" class="btn p-0"
                        style="background: #b52525; border-color: #b52525;">
                        <span class="userbutton">
                            <span class="avatars">
                                <span class="avatar current">
                                    <span class="userinitials size-35">
                                        @if (ViewBag.UserName != null && ViewBag.UserSurname != null)
                                        {
                                            @($"{ViewBag.UserName[0]}{ViewBag.UserSurname[0]}")
                                        }
                                        else
                                        {
                                            @("M")
                                        }
                                    </span>
                                </span>
                            </span>
                            <i class="fa-solid fa-angle-down text-white" style="position: relative; top: -5px;"></i>
                        </span>
                    </a>
                    <div id="user-action-menu" class="dropdown-menu dropdown-menu-right mt-5">
                        <a href="/Home/aboutme" class="dropdown-item" role="menuitem" tabindex="-1">
                            Profil
                        </a>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Başarı notları
                        </a>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Takvim
                        </a>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Kişisel dosyalar
                        </a>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Raporlar
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Tercihler
                        </a>
                        <a href="" class="dropdown-item" role="menuitem" tabindex="-1">
                            Çıkış yap
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </nav>

</body>

</html>
