@{
    ViewBag.Title = "KTUN | İşletmede Mesleki Eğitim Öğrenci Sayfası";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTUN | İşletmede Mesleki Eğitim Personel</title>
    <link rel="shortcut icon" href="~/img/logo_2.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="keywords" content="moodle, Konya Teknik Üniversitesi İşletmede Mesleki Eğitim: Siteye giriş yap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://lms.ktun.edu.tr/theme/styles.php/remui/1703591224_1/all">
    <link rel="stylesheet" href="~/styles/custom/css/KTUN-StudentPage.css">
</head>

<body>
    <nav class="navbar-top" style="z-index: 0;"></nav>

    <nav class="d-flex justify-content-start align-items-center mt-1 position-relative"
        style="height: 75px; background: #b52525;">
        <div class="row ml-5">
            <div class="col-md-12 ktun-logo">
                <img class="rounded-circle" src="~/img/ktunlogo.png" alt="Logo" width="130px" height="130px">
            </div>
        </div>

        <div class="navbar-options ml-5 w-100 d-flex h-120">
            <div class="primary-navigation wdm-custom-menus position-relative" style="left: 30px;">
                <nav class="moremenu navigation observed d-flex">
                    <ul class="nav more-nav navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link main-nav-link text-white" href="#">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link main-nav-link text-white" href="#">Kontrol Paneli</a>
                        </li>
                        <li data-key="myhome" class="nav-item" role="none" data-forceintomoremenu="false">
                            <a role="menuitem" class="nav-link" href="/Supervisor/SupervisorStudentList" tabindex="-1">
                                Notlandır
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <nav class="d-flex justify-content-end align-items-center w-100 mr-5" style="z-index: 9999;">
                <div class="dropdown ms-auto">
                    <a href="#" role="button" id="user-menu-toggle" data-bs-toggle="dropdown"
                        aria-label="Kullanıcı menüsü" aria-haspopup="true" aria-controls="user-action-menu"
                        class="btn p-0 text-white">
                        <span class="userbutton">
                            <span class="avatars">
                                <span class="avatar current">
                                    <span class="userinitials size-35">
                                        @if (ViewBag.UserName != null && ViewBag.UserSurname != null)
                                        {
                                            @($"{ViewBag.UserName[0]}{ViewBag.UserSurname[0]}")
                                        }
                                        else
                                        {
                                            @("M")
                                        }
                                    </span>
                                </span>
                            </span>
                            <i class="fa-solid fa-angle-down text-white" style="position: relative; top: -5px;"></i>
                        </span>
                    </a>

                    <div id="" class="dropdown-menu dropdown-menu-end mt-5" aria-labelledby="user-menu-toggle">
                        <a href="/Home/aboutme" class="dropdown-item">Profil</a>
                        <a href="#" class="dropdown-item">Başarı notları</a>
                        <a href="#" class="dropdown-item">Takvim</a>
                        <a href="#" class="dropdown-item">Kişisel dosyalar</a>
                        <a href="#" class="dropdown-item">Raporlar</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Tercihler</a>
                        <a href="/Student/Logout" class="dropdown-item">Çıkış yap</a>
                    </div>
                </div>
            </nav>
        </div>
    </nav>

</body>

</html>
